 * {
    margin: 0px 60px;
}

.encabezado {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: 12%;
    display: flex;
    
}

.aside {
    background-image: url(./Rectangle9.jpg);
    width:400px;
    height: 400px;
    margin: 20px 0 20px 60px;
}


.opciones {
    margin-right: 20px;
    text-decoration: none;
    color:#000000;
}

.nav-opciones {
    margin-left: 900px;
}

.banner {
    margin-top: 100px;
    width: 100%;
}

.logo {
    height: 90px;
    width: 90px;
}

h1 {
    font-family: 'Hermeneus One';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 79px;
    color: #000000;
    margin: 10px;
}


h2 {
    font-family: 'Hermeneus One';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 79px;
    color: #000000;
    margin: 10px;
    text-align: center;

}

h3 {
    font-family: 'Radley';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 61px;
    color: #F29330;
    text-align: center;
}

h4 {
    text-align: center;
}



button {
    width: 140px;
    height: 40px;
    background: #E6B93A;
    opacity: 0.8;
    border-radius: 7px;
}
 .directorio-boton {
    text-decoration: none;
    color: #000000;
    font-family: 'Radley';
    font-style: normal;
 }

header {
    display:flex
} 